<tagLib name="html" />

<style>
    .dongtai {
        display: none;
    }
</style>

<div class="wrap">
    <h2>添加控制器</h2>
    <div class="tablenav top">
        <div class="alignleft actions">
            <a class="button button-primary button-hero" href="javascript:returnList('__CONTROLLER__/index', 'company_id', '{$vo.company_id}');">返回列表</a>
        </div>
        <br class="clear">
    </div>
</div>
<br class="clear">


<form method='POST' id="form1" action="{:U('DoorController/save')}">
    <div class="formarea">
        <table class="form-table">
            <assign name="var" value="product_type" />
            <tr>
                <th><label for="">产品类型：</label></th>
                <td>
                    <select name="{$var}">
                        <option value="0">请选择产品类型</option>
                        <option value="1" <eq name="vo[$var]" value="1">selected</eq> >第一代(序列号:ALS******01)</option>
                        <option value="2" <eq name="vo[$var]" value="2">selected</eq> >第二代(序列号:000000000*******)</option>
                    </select>
                    <if condition="$error[$var]"><span class="description">{$error[$var]}</span></if>
                </td>
            </tr>
            <assign name="var" value="name" />
            <tr class="dongtai type1 type2">
                <th><label for="">名称：</label></th>
                <td>
                    <input type="text" class="regular-text" name="{$var}" value="{$vo.$var}">
                    <if condition="$error[$var]"><span class="description">{$error[$var]}</span></if>
                </td>
            </tr>
            <assign name="var" value="serial_number" />
            <tr class="dongtai type1 type2">
                <th><label for="">序列号：</label></th>
                <td>
                    <input type="text" class="regular-text" name="{$var}" value="{$vo.$var}">
                    <span style="color:red;">*</span>
                    <if condition="$error[$var]"><span class="description">{$error[$var]}</span></if>
                </td>
            </tr>
            <assign name="var" value="model" />
            <tr class="dongtai type1">
                <th><label for="">型号：</label></th>
                <td>
                    <input type="text" class="regular-text" name="{$var}" value="{$vo.$var}">
                    <if condition="$error[$var]"><span class="description">{$error[$var]}</span></if>
                </td>
            </tr>
            <assign name="var" value="ip" />
            <tr class="dongtai type1">
                <th><label for="">IP地址：</label></th>
                <td>
                    <input type="text" class="regular-text" name="{$var}" value="{$vo.$var}">
                    <if condition="$error[$var]"><span class="description">{$error[$var]}</span></if>
                </td>
            </tr>
            <assign name="var" value="port" />
            <tr class="dongtai type1">
                <th><label for="">端口：</label></th>
                <td>
                    <input type="text" class="regular-text" name="{$var}" value="{$vo.$var}">
                    <if condition="$error[$var]"><span class="description">{$error[$var]}</span></if>
                </td>
            </tr>
            <assign name="var" value="password" />
            <tr class="dongtai type1">
                <th><label for="">通讯密码：</label></th>
                <td>
                    <input type="text" class="regular-text" name="{$var}" value="{$vo.$var}">
                    <if condition="$error[$var]"><span class="description">{$error[$var]}</span></if>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="center">
                    <!--保持搜索部分-->
                    <php>
                        foreach($search as $k=>$v){
                        echo '<input type="hidden" name="'.$k.'" value="'.$v.'" id="'.$k.'" usefor="search">';
                        }
                    </php>
                    <!--保持搜索部分结束-->
                    <!--pk-->
                    <assign name="var" value="company_id" />
                    <input type="hidden" name="{$var}" value="{$vo.$var}" >
                </td>
            </tr>
        </table>
    </div>
    <div class="wrap">
        <div class="tablenav top">
            <div class="alignleft actions">
                <a href="javascript:returnIndex();" class="button button-primary button-hero">返回列表</a>
                <input name="btn_submit" class="button button-primary button-hero" value="保 存" type="button" onclick="save('form1','save');">
            </div>
            <br class="clear">
        </div>
    </div>
</form>

<switch name="vo.product_type">
    <case value="1">
        <script>
            $(function(){
                $(".dongtai").hide();
                $(".type1").show();
            });
        </script>
    </case>
    <case value="2">
        <script>
            $(function(){
                $(".dongtai").hide();
                $(".type2").show();
            });
        </script>
    </case>
    <default/>
        <script>
            $(function(){
                $(".dongtai").hide();
            });
        </script>

</switch>
<script>
    $(function(){
        $("select[name='product_type']").change(function(){
            var type = $(this).val();
            switch (type) {
                case "0":
                    $(".dongtai").hide();
                    break;
                case "1":
                    $(".dongtai").hide();
                    $(".type1").show();
                    var sn = $("input[name='serial_number']").val();
                    if(sn == "000000000") $("input[name='serial_number']").val("");
                    break;
                case "2":
                    $(".dongtai").hide();
                    $(".type2").show();
                    var sn = $("input[name='serial_number']").val();
                    if(sn == "") $("input[name='serial_number']").val("000000000");
                    break;
                default:
                    $(".dongtai").hide();
            }
        });
    });
</script>






