<div class="wrap">
    <h2>摄像头管理</h2>
    <div class="tablenav top">
        <div class="alignleft actions">
            <a class="button button-primary button-hero" href="__URL__/view/id/{$vo.controller_id}">返回列表</a>
        </div>
        <br class="clear">
    </div>
</div>
<br class="clear">

<div class="formarea">
    <table class="form-table" style="width: 50%">
        <tr>
            <th><label for="">控制器：</label></th>
            <td>
                {$door.controller_name}
            </td>
            <th><label for="">门：</label></th>
            <td>
                {$door.door_name}
            </td>
        </tr>
    </table>
    <form method='post' name="form1">
        <input type="hidden" name="controller_id" value="{$vo.controller_id}">
        <input type="hidden" name="door_id" value="{$vo.door_id}">

        <!-- 查询区域 -->
        <div class="tablenav top">
            <div class="alignleft actions">
                <assign name="var" value="password" />
                <label>密码：</label>
                <input type="text" name="{$var}" title="密码" value="{$vo.$var}">
                <if condition="$error[$var]"><span class="description">{$error[$var]}</span></if>
            </div>
            <div class="alignleft actions">
                <input type="button" name="submit" class="button" value="设置" onclick="saveDoorPassword()"/>&nbsp;
            </div>
            <br class="clear">
        </div>
        <br class="clear">
        <!-- 查询区域结束 -->

    </form>
</div>

<div class="wrap">
    <div class="tablenav top">
        <div class="alignleft actions">
            <a href="__URL__/view/id/{$vo.controller_id}" class="button button-primary button-hero">返回列表</a>
        </div>
        <br class="clear">
    </div>
</div>
<script>
    function saveDoorPassword() {
        $.post("__CONTROLLER__/saveDoorPassword", {
            'controller_id': "{$vo.controller_id}",
            'door_id': "{$vo.door_id}",
            'password': $("input[name='password']").val(),
        }, function(data){
            if (data.code == 200) {
                //alert("开门成功");
                onSendSaveSuccess(data.message);
            } else {
                alert(data.message);
            }
        }, 'JSON');
    }


    function onSendSaveSuccess(id) {
        var retryTimes = 3;
        var tmid;

        function checkOperationFeedback() {
            if (retryTimes-- <= 0) {
                window.clearInterval(tmid);
                alert("数据超时");
                return;
            }
            $.post("__CONTROLLER__/udpOperationFeedBack", {
                'id': id
            }, function(data){
                if(data.code == 1) {
                    // 继续等待
                } else if (data.code == 200) {
                    window.clearInterval(tmid);
                    alert("门禁密码设置成功");
                } else { // code == 0 错误请求
                    window.clearInterval(tmid);
                }
            }, 'JSON')
        }

        tmid = window.setInterval(checkOperationFeedback, 300);
    }
</script>
