<div class="wrap">
    <h2>查看控制器</h2>
    <div class="tablenav top">
        <div class="alignleft actions">
            <a class="button button-primary button-hero" href="javascript:returnIndex();">返回列表</a>
        </div>
        <br class="clear">
    </div>
</div>
<br class="clear">

<div class="formarea">
    <table class="form-table">
        <tr>
            <assign name="var" value="name" />
            <th><label for="">名称：</label></th>
            <td>
                {$vo.$var}
            </td>
            <assign name="var" value="serial_number" />

            <th><label for="">序列号：</label></th>
            <td>
                {$vo.$var}
            </td>
        </tr>
        <tr>
            <assign name="var" value="model" />
            <th><label for="">型号：</label></th>
            <td>
                {$vo.$var}
            </td>

            <assign name="var" value="ip" />
            <th><label for="">IP地址：</label></th>
            <td>
                {$vo.$var}
            </td>
        </tr>
        <tr>
            <assign name="var" value="port" />
            <th><label for="">端口：</label></th>
            <td>
                {$vo.$var}
            </td>

            <assign name="var" value="status" />
            <th><label for="">状态：</label></th>
            <td>
                <eq name="vo[$var]" value="0">正常</eq>
                <eq name="vo[$var]" value="-1">禁用</eq>
            </td>
        </tr>

        <tr>
            <assign name="var" value="last_edit_time" />
            <th><label for="">最后编辑时间：</label></th>
            <td>
                <if condition="$vo[$var]">{$vo.$var||toDate="Y-m-d H#i#s"}</if>
            </td>
            <assign name="var" value="company_name" />
            <th><label for="">所属公司：</label></th>
            <td>
                <if condition="$vo[$var]">{$vo.$var}</if>
            </td>
        </tr>
        <tr>

        </tr>
        <if condition="$vo['product_type'] eq 2">
            <tr>
                <assign name="var" value="last_connect_time" />
                <th><label for="">最后连接时间：</label></th>
                <td>
                    <if condition="$vo[$var]">{$vo.$var||toDate="Y-m-d H#i#s"}</if>
                </td>
                <assign name="var" value="connect_status" />
                <th><label for="">连接状态：</label></th>
                <td>
                    {$vo[$var]?"在线":"离线"}
                </td>
            </tr>
        </if>
        <tr>
            <td></td>
            <td class="center">
                <!--保持搜索部分-->
                <php>
                    foreach($search as $k=>$v){
                    echo '<input type="hidden" name="'.$k.'" value="'.$v.'" id="'.$k.'" usefor="search">';
                    }
                </php>
                <!--保持搜索部分结束-->
                <!--pk-->
                <assign name="var" value="id" />
                <input type="hidden" name="{$var}" value="{$vo.$var}" >


            </td>
        </tr>
    </table>
</div>

<div class="wrap">

    <table class="wp-list-table widefat fixed posts">
        <thead>
        <tr>
            <th class="manage-column" scope="col" width="5%">编号</th>
            <th class="manage-column" scope="col" width="5%">名称</th>
            <if condition="$vo['product_type'] eq 2">
            <th class="manage-column" scope="col" width="5%">状态</th>
            </if>
            <th class="manage-column" scope="col" width="5%">摄像头</th>
            <th class="manage-column" scope="col" width="50%">操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="arrList" id="door" mod="2">
            <assign name="id" value="$door.id" />
            <tr <eq name="mod" value="0">class="alternate"</eq> >
            <td class="manage-column" scope="col" >{$door.door_index}</td>
            <td class="manage-column" scope="col" name="door_name" door_index="{$door.door_index}">{$door.name}</td>
            <if condition="$vo['product_type'] eq 2">
            <td class="manage-column" scope="col">{$door['status']?"开":"关"}</td>
            </if>
            <td class="manage-column" scope="col">{$door.camera_count}</td>
            <td class="manage-column" scope="col">
                <a href="javascript:openDoor('{$door.door_index}', '{$door.name}');">开门</a>&nbsp;
                <a href="__URL__/camera/controller_id/{$door.controller_id}/door_id/{$door.door_index}">管理摄像头</a>&nbsp;
                <if condition="$vo['product_type'] eq 2">
                    <a href="__URL__/setDoorPassword/controller_id/{$door.controller_id}/door_id/{$door.door_index}">设置密码</a>&nbsp;
                </if>
            </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>

<div class="wrap">
    <div class="tablenav top">
        <div class="alignleft actions">
            <a href="javascript:returnIndex();" class="button button-primary button-hero">返回列表</a>
            <input name="btn_submit" class="button button-primary button-hero" value="编 辑" type="button" onclick="edit('id','{$vo.id}');">
        </div>
        <br class="clear">
    </div>
</div>



<script>
    function openDoor(value, name) {
        if(confirm("确定开启 " + name)) {
            $.post("__CONTROLLER__/openDoor", {
                'controller_id': "{$vo.id}",
                'door_id': value
            }, function(data){
                if (data.code == 200) {
                    //alert("开门成功");
                    onOpenSendSuccess(data.message);
                } else {
                    alert(data.message);
                }
            }, 'JSON');
        }
    }

    function onOpenSendSuccess(id) {
        var retryTimes = 3;
        var tmid;

        function checkOpenDoorFeedback() {
            if (retryTimes-- <= 0) {
                window.clearInterval(tmid);
                alert("开门超时");
                return;
            }
            $.post("__CONTROLLER__/openDoorFeedBack", {
                'id': id
            }, function(data){
                if(data.code == 1) {
                    // 继续等待
                } else if (data.code == 200) {
                    window.clearInterval(tmid);
                    alert("开门成功");
                } else { // code == 0 错误请求
                    window.clearInterval(tmid);
                }
            }, 'JSON')
        }

        tmid = window.setInterval(checkOpenDoorFeedback, 300);
    }

    $(function () {
        //找到所有的学号单元格
        var numId = $("tbody td[name='door_name']");

        //给单元格注册鼠标点击事件
        numId.dblclick(function () {
            //找到对应当前鼠标点击的td，this对应的就是响应了click的那个td
            var tdObj = $(this);
            //判断td中是否有文本框
            if (tdObj.children("input").length>0) {
                return false;
            }
            //获取表格中的内容
            var text = tdObj.html();
            //清空td中的内容
            tdObj.html("");
            //创建文本框
            //去掉文本框的边框
            //设置文本框中字体与表格中的文字大小相同。
            //设置文本框的背景颜色与表格的背景颜色一样
            //是文本框的宽度和td的宽度相同
            //并将td中值放入文本框中
            //将文本框插入到td中
            var inputObj = $("<input type='text'>").css("border-width", "0").css("font-size", tdObj.css("font-size")).css("background-color", tdObj.css("background-color")).width(tdObj.width()).val(text).appendTo(tdObj);
            //文本框插入后先获得焦点、后选中
            inputObj.trigger("focus").trigger("select")
            //文本框插入后不能被触发单击事件
            inputObj.click(function () {
                return false;
            });

            inputObj.focusout(function(event) {
                //获取当前文本框中的内容
                var inputtext = $(this).val();
                //将td中的内容修改为文本框的内容
                tdObj.html(inputtext);
                $("input[name='door_name']").val(inputtext);
                submitForm(tdObj.attr("door_index"), inputtext);
            });
            //处理文本框上回车和esc按键的操作
            inputObj.keyup(function (event) {
                //获取当前按下键盘的键值
                var keycode = event.which;
                //处理回车的情况
                if (keycode==13) {
                    //获取当前文本框中的内容
                    var inputtext = $(this).val();
                    //将td中的内容修改为文本框的内容
                    tdObj.html(inputtext);
                    $("input[name='door_name']").val(inputtext);
                    submitForm(tdObj.attr("door_index"), inputtext);
                }
                //处理esc的内容
                if (keycode==27) {
                    //将td中的内容还原成原来的内容
                    tdObj.html(text);
                }
            });
        });
    });

    function submitForm(door_index, door_name) {
        $.post("__URL__/saveDoor",{
            controller_id:"{$vo.id}",
            door_index: door_index,
            door_name: door_name,
        }, function(data){
            if (data.code == 200) {
                alert(data.message);
            }
        }, "json");
    }

</script>






