<div class="wrap">
    <h2>查看控制器</h2>
    <div class="tablenav top">
        <div class="alignleft actions">
            <a class="button button-primary button-hero" href="javascript:returnIndex();">返回列表</a>
        </div>
        <br class="clear">
    </div>
</div>
<br class="clear">

<div class="formarea">
    <table class="form-table">
        <tr>
            <assign name="var" value="name" />
            <th><label for="">名称：</label></th>
            <td>
                {$vo.$var}
            </td>
            <assign name="var" value="serial_number" />

            <th><label for="">序列号：</label></th>
            <td>
                {$vo.$var|showSex}
            </td>
        </tr>
        <tr>
            <assign name="var" value="model" />
            <th><label for="">型号：</label></th>
            <td>
                {$vo.$var}
            </td>

            <assign name="var" value="ip" />
            <th><label for="">IP地址：</label></th>
            <td>
                {$vo.$var}
            </td>
        </tr>
        <tr>
            <assign name="var" value="port" />
            <th><label for="">端口：</label></th>
            <td>
                {$vo.$var}
            </td>

            <assign name="var" value="status" />
            <th><label for="">状态：</label></th>
            <td>
                <eq name="vo[$var]" value="0">正常</eq>
                <eq name="vo[$var]" value="-1">禁用</eq>
            </td>
        </tr>

        <tr>
            <assign name="var" value="last_edit_time" />
            <th><label for="">最后编辑时间：</label></th>
            <td>
                <if condition="$vo[$var]">{$vo.$var||toDate="Y-m-d H#i#s"}</if>
            </td>
            <assign name="var" value="last_connect_time" />
            <th><label for="">最后连接时间：</label></th>
            <td>
                <if condition="$vo[$var]">{$vo.$var||toDate="Y-m-d H#i#s"}</if>
            </td>
        </tr>
        <tr>
            <assign name="var" value="company_name" />
            <th><label for="">所属公司：</label></th>
            <td>
                <if condition="$vo[$var]">{$vo.$var}</if>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="center">
                <!--保持搜索部分-->
                <php>
                    foreach($search as $k=>$v){
                    echo '<input type="hidden" name="'.$k.'" value="'.$v.'" id="'.$k.'" usefor="search">';
                    }
                </php>
                <!--保持搜索部分结束-->
                <!--pk-->
                <assign name="var" value="id" />
                <input type="hidden" name="{$var}" value="{$vo.$var}" >


            </td>
        </tr>
    </table>


</div>

<div class="wrap">
    <div class="tablenav top">
        <div class="alignleft actions">
            <a href="javascript:returnIndex();" class="button button-primary button-hero">返回列表</a>
            <input name="btn_submit" class="button button-primary button-hero" value="编 辑" type="button" onclick="edit('id','{$vo.id}');">
        </div>
        <br class="clear">
    </div>
</div>

<div class="wrap">
开门:
<for start="0" end="4" name="i">
    <input type="button" value="门{$i}" onclick="openDoor('{$i}')"/>
</for>
</div>

<script>
    function openDoor(value) {
        $.post("__CONTROLLER__/openDoor", {
            'controller_id': "{$vo.id}",
            'door_id': value
        }, function(data){
            alert("开门成功");
        }, 'JSON');
    }
</script>






