<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="__PUBLIC__/Images/favicon.ico" />

    <title>添加控制器</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/demo/home.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/demo/css.css">
    <load href="__PUBLIC__/Js/jquery.js"/>
    <load href="__PUBLIC__/demo/aotSdk2.0.0.js"/>
    <script>
        function formSubmit() {
            $('#form1').submit();
        }
    </script>
</head>

<body style="background:#fff;">

<!--top-->

<!--<div class="top">
    <div class="box">
        <a href="__URL__/index" class="return"><img src="__PUBLIC__/demo/return.png"></a>
        添加控制器
    </div>
</div>-->


<form name="form1" id="form1" action="__URL__/save" method="post">
<div class="login_lo" style="margin-top:56px;">
    <div class="box">
        <assign name="var" value="name" />
        <div class="lo_1 lo_2">
            <span>名称</span>
            <input type="text" name="{$var}" size="60" maxlength="60" style="color:#ccc" value="{$vo.$var|default="请输入名称"}" onfocus="if(this.value==&#39;请输入名称&#39;){this.value=&#39;&#39;};this.style.color=&#39;black&#39;;" onblur="if(this.value==&#39;&#39;||this.value==&#39;请输入名称&#39;){this.value=&#39;请输入名称&#39;;this.style.color=&#39;#ccc&#39;;}">
            <if condition="$error[$var]"><span class="description" style="width: 15%;min-width: 125px;">{$error[$var]}</span></if>
        </div>
        <assign name="var" value="serial_number" />
        <div class="lo_1 lo_2">
            <span>序列号</span>
            <input type="text" name="{$var}" size="60" maxlength="60" style="color:#ccc;min-width:50%;max-width: 75%;" value="{$vo.$var|default="请输入序列号"}" onfocus="if(this.value==&#39;请输入序列号&#39;){this.value=&#39;&#39;};this.style.color=&#39;black&#39;;" onblur="if(this.value==&#39;&#39;||this.value==&#39;请输入序列号&#39;){this.value=&#39;请输入序列号&#39;;this.style.color=&#39;#ccc&#39;;}">
            <if condition="$error[$var]"><span class="description" style="width: 15%;min-width: 125px;">{$error[$var]}</span></if>
        </div>

        <a href="javascript:formSubmit()" class="lo_login">提 交</a>
    </div>
</div>
</form>

</body></html>