<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="__PUBLIC__/Images/favicon.ico" />

    <title>门禁控制</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/demo/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/demo/style1.css">
    <script src="__PUBLIC__/demo/jquery-1.11.0.min.js"></script>
    <script src="__PUBLIC__/demo/public.js"></script>
    <!--banner-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/demo/responsiveslides.css">
    <script src="__PUBLIC__/demo/responsiveslides.min.js"></script>
    <script>
        function openDoor(controller, door, name) {
            if(confirm("确定开启 " + name)) {
                $.post("__CONTROLLER__/openDoor", {
                    'controller_id': controller,
                    'door_id': door
                }, function(data){
                    if (data.code == 200) {
                        alert("开门成功");
                    } else {
                        alert(data.message);
                    }
                }, 'JSON');
            }
        }
    </script>
</head>

<body>
<!--top-->
<div class="top_f">
    <div class="top_f_in">
        <a href="__URL__/lists" class="login_f">记录</a>
        <a href="__URL__/add" class="register_f">添加</a>
        <img src="__PUBLIC__/demo/logo3.png">
    </div>
</div>

<!--banner-->
<div class="callbacks_container">
    <ul class="rslides callbacks callbacks1" id="slider">
        <li id="callbacks1_s0" class="" style="display: block; transition: opacity 500ms ease-in-out; float: none; position: absolute; opacity: 0; z-index: 1;"><a href=" banner_xqy.html"><img src="__PUBLIC__/demo/pic_home_slider_1.jpg"></a></li>
        <li id="callbacks1_s1" class="" style="display: list-item; transition: opacity 500ms ease-in-out; float: none; position: absolute; opacity: 0; z-index: 1;"><a href=" banner_xqy.html"><img src="__PUBLIC__/demo/pic_home_slider_2.jpg"></a></li>
        <li id="callbacks1_s2" class="callbacks1_on" style="display: list-item; transition: opacity 500ms ease-in-out; float: left; position: relative; opacity: 1; z-index: 2;"><a href=" banner_xqy.html"><img src="__PUBLIC__/demo/pic_home_slider_3.jpg"></a></li>
        <li id="callbacks1_s3" class="" style="display: list-item; transition: opacity 500ms ease-in-out; float: none; position: absolute; opacity: 0; z-index: 1;"><a href=" banner_xqy.html"><img src="__PUBLIC__/demo/pic_home_slider_4.jpg"></a></li>
        <li id="callbacks1_s4" class="" style="display: list-item; transition: opacity 500ms ease-in-out; float: none; position: absolute; opacity: 0; z-index: 1;"><a href=" banner_xqy.html"><img src="__PUBLIC__/demo/pic_home_slider_4.jpg"></a></li>
    </ul>
    <ul class="callbacks_tabs callbacks1_tabs">
        <!--<li class="callbacks1_s1"><a href="#" class="callbacks1_s1">1</a></li>
        <li class="callbacks1_s2"><a href="#" class="callbacks1_s2">2</a></li>
        <li class="callbacks1_s3 callbacks_here"><a href="#" class="callbacks1_s3">3</a></li>
        <li class="callbacks1_s4"><a href="#" class="callbacks1_s4">4</a></li>
        <li class="callbacks1_s5"><a href="#" class="callbacks1_s5">5</a></li>-->
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        // Slideshow
        $("#slider").responsiveSlides({
            auto: true,
            pager: false,
            nav: true,
            speed: 500,
            timeout:4000,
            pager: true,
            pauseControls: true,
            namespace: "callbacks"
        });
    });
</script>
<!--公告-->
<div class="notice_f">
    <div class="notice_f_in">
        <img src="__PUBLIC__/demo/gaogao.png">
        <ul>
            <li style="display: none;"><a href="#">公告1今日阿里山门禁系统上线</a></li>
            <li style="display: block;"><a href="#">公告2今日阿里山门禁用户超过500万</a></li>
            <li style="display: none;"><a href="#">公告3明日公司将举行年终总结大会</a></li>
        </ul>
    </div>
</div>
<script>
    var q=0
    var f=$(".notice_f_in ul li").length
    $(".notice_f_in ul li").first().css({display:"block"}).siblings().css({display:"none"});
    function ggds(){
        q++
        if(q==f)
        {q=0}
        $(".notice_f_in ul li").eq(q).css({display:"block"}).siblings().css({display:"none"});
    }
    setInterval(ggds,4000)
</script>

<!--显示区域-->
<div class="display_f">
    <!--包的内容-->
    <div class="display_f_in">
        <!--灵活收益-->
        <div class="fourcp_1" style="display: block;">
            <volist name="arrList" id="door" mod="2">
                <!--一条开始-->
                <div class="novice_zs_f_in" style="margin-bottom: 6px;">
                    <!--left-->
                    <div class="novice_zs_f_in_l">
                        <div class="novice_zs_f_in_l_center">
                            <ul>
                                <li class="mark5_f">
                                    <img src="__PUBLIC__/demo/door.jpg">
                                </li>
                                <li class="mark5_f" style="width: 50%;">
                                    <span>{$door.name}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--right-->
                    <a href="javascript:openDoor('{$door.controller_id}', '{$door.door_index}', '{$door.name}');"><div class="novice_zs_f_in_r">
                        <span style=" background:url(__PUBLIC__/demo/lijitoubiao.png) no-repeat center"></span>
                    </div></a>
                </div>
            </volist>
        </div>
    </div>
</div>


</body></html>