<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="__PUBLIC__/Images/favicon.ico" />

    <title>出入记录</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/demo/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/demo/style1.css">
    <script src="__PUBLIC__/Js/jquery.js"></script>
    <script src="__PUBLIC__/demo/public.js"></script>
    <script src="__PUBLIC__/demo/aotSdk2.0.0.js"></script>
</head>

<body>

<!--top-->
<!--<div class="top">
    <div class="box">
        <a href="__URL__/index" class="return"><img src="__PUBLIC__/demo/return.png"></a>
        出入记录列表
    </div>
</div>-->


<!--占固定定位的块-->
<div class="occupy_f"></div>
<!--显示区域-->
<div class="display_f">
    <!--包的内容-->
    <div class="display_f_in">
        <!--灵活收益-->
        <div class="fourcp_1" style="display: block;">
            <volist name="arrList" id="door" mod="2">
                <!--一条开始-->
                <div class="novice_zs_f_in" style="margin-bottom: 6px;height: 80px;">
                    <!--left-->
                    <div class="novice_zs_f_in_l" style="height: 80px;">
                        <div class="novice_zs_f_in_l_center" style="height: 80px;">
                            <ul>
                                <li class="mark5_f" style="width: 25%;">
                                    <img src="__PUBLIC__/demo/door.jpg" style="margin-top:16px;">
                                </li>
                                <li class="mark5_f" style="width: 25%;">
                                    <span style="margin-top:16px;">{$door.door_name}</span>
                                </li>
                                <li class="mark5_f" style="width: 50%;">
                                    <span style="margin-top:16px;">{$door.open_time|toDate='Y-m-d H#i#s'}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </volist>
            <!--一条开始-->
            <div class="novice_zs_f_in" style="margin-bottom: 6px; display:none;">
                <!--left-->
                <div class="novice_zs_f_in_l">
                    <!--top-->
                    <div class="novice_zs_f_in_l_top">
                        <img src="__PUBLIC__/demo/biao3.png">
                        <span>测试标不要投</span>
                    </div>
                    <!--bottom-->
                    <div class="novice_zs_f_in_l_bottom">
                        <ul>
                            <li class="mark1_f">
                                <em>12.00%</em>
                                <p>年利率</p>
                            </li>
                            <li class="mark2_f">
                                <em>3<font>个月</font></em>
                                <p>期限</p>
                            </li>
                            <li class="mark3_f">
                                <em><font>￥</font>20.10<font>万</font></em>
                                <p>投资金额</p>
                            </li>
                            <li class="mark4_f">
                    	<span>
                        	<img src="__PUBLIC__/demo/redbl.png" style="height:50%;">
                            <p>50%</p>
                        </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--right-->
                <a href=" Investment%20list.html#"><div class="novice_zs_f_in_r">
                    <span style=" background:url(__PUBLIC__/demo/lijitoubiao.png) no-repeat center"></span>
                </div></a>
            </div>
        </div>
    </div>
</div>



</body></html>