<script>
    function assigndoor(key,id){
        var params = gerParams();
        var keyValue;
        keyValue = id;
        if (!keyValue)
        {
            alert('请选择编辑项！');
            return false;
        }
        location.href =  URL+"/doorlist/"+key+"/"+keyValue + '/' + params;
    }

</script>
<div class="wrap">
    <h2>用户管理 &nbsp;<a class="add-new-h2" href="#" onclick="add('company_id', '{$company_id}')">新增</a>
    </h2>

    <form name="form1" method='POST' action="{:U('User/index')}">
        <!-- 查询区域 -->
        <div class="tablenav top">
            <!--单个查询条件-->
            <assign name="var" value="search_nickname" />
            <div class="alignleft actions">
                <label>姓名</label>
                <input type="text" usefor="search" name="{$var}" title="姓名查询" value="{$search.$var}" />
            </div>
            <assign name="var" value="search_account" />
            <div class="alignleft actions">
                <label>帐号</label>
                <input type="text" usefor="search" name="{$var}" title="帐号查询" value="{$search.$var}" />
            </div>
            <td>
                <assign name="var" value="search_status" />
                <div class="alignleft actions">
                    <select usefor="search" name="{$var}" id="{$var}" title="状态">
                        <option value="">选择所有状态</option>
                        <option value="0" <if condition="'0' eq $search[$var]">selected </if> >未注册</option>
                        <option value="1" <if condition="'1' eq $search[$var]">selected </if> >在职</option>
                        <option value="2" <if condition="'2' eq $search[$var]">selected </if> >离职</option>
                    </select>
                </div>
            </td>
            <!--单个查询条件结束-->
            <div class="alignleft actions">
                <input class="button" type="submit" value="查询" name="btn_search">
            </div>
        </div>
        <br class="clear">
        <!-- 查询区域结束 -->

        <!-- 列表显示区域  -->
        <table class="wp-list-table widefat fixed posts">
            <thead>
            <tr>
                <th scope='col'  class='manage-column ' width="5%">编号</th>
                <th scope='col'  class='manage-column ' width="10%">姓名</th>
                <th scope='col'  class='manage-column ' width="5%">姓别</th>
                <th scope='col'  class='manage-column ' width="10%">帐号</th>
                <th scope='col'  class='manage-column ' width="10%">公司</th>
                <th scope='col'  class='manage-column ' width="10%">角色</th>
                <th scope='col'  class='manage-column ' width="10%">状态</th>
                <th scope='col'  class='manage-column ' width="30%">操作</th>
            </tr>
            </thead>
            <volist name="list" id="vo" mod="2">
                <tr <eq name="mod" value="0"> class="alternate" </eq> >
                <td class="manage-column" scope="col" >{$vo.id}</td>
                <td class="manage-column" scope="col">{$vo.nickname}</td>
                <td class="manage-column" scope="col">{$vo.sex|showSex}</td>
                <td class="manage-column" scope="col">{$vo.account}</td>
                <td class="manage-column" scope="col">{$vo.company_name}</td>
                <td class="manage-column" scope="col">{$vo.role_name}</td>
                <td class="manage-column" scope="col">
                    <switch name="vo.status" >
                        <case value="0">未注册</case>
                        <case value="1">在职</case>
                        <case value="2">离职</case>
                    </switch>
                </td>
                <td class="manage-column" scope="col">
                    <a href="javascript:view('id','{$vo.id}')">查看</a>&nbsp;
                    <in name="vo.status" value="0,1">
                        <a href="javascript:edit('id','{$vo.id}')">编辑</a>&nbsp;
                        <a href="javascript:forbid('id','{$vo.id}')">离职</a>&nbsp;
                        <if condition="$vo.role_id gt 21">
                        <a href="javascript:assigndoor('id','{$vo.id}')">分配权限</a>&nbsp;
                        </if>
                    </in>
                    <if condition="2 eq $vo['status']">
                        <a href="javascript:resume('id','{$vo.id}')">恢复</a>&nbsp;
                        <a href="javascript:del('id','{$vo.id}')">删除</a>&nbsp;
                    </if>
                </td>
                </tr>
            </volist>
        </table>
        <!-- 列表显示区域结束  -->


        <!--  分页显示区域 -->
        <div class="tablenav bottom">
            <div class="alignleft actions"></div>
            <div class="tablenav-pages">
                <!--
                <span class="displaying-num">2个项目</span>
                <span class="pagination-links">
                    <a class="first-page disabled" title="前往第一页" href="#">«</a>
                    <a class="prev-page disabled" title="前往上一页" href="#">‹</a>
                    <span class="paging-input">第1页，共<span class="total-pages">1</span>页</span>
                    <a class="next-page disabled" title="前往下一页" href="#">›</a>
                    <a class="last-page disabled" title="前往最后一页" href="#">»</a>
                </span>-->
                <div class="page">{$page}</div>
                <input type="hidden" usefor="search" name="search_p" value="{$nowpage}"  >
            </div>
            <br class="clear">
        </div>
        <!--  分页显示区域结束 -->
        <!-- 列表显示区域结束 -->
    </form>

    <div id="ajax-response"></div>
    <br class="clear">
</div>
<!--wrap-->