<div class="wrap">
    <h2>{$user.nickname} 卡片授权</h2>
    <div class="tablenav top">
        <div class="alignleft actions">
            <a class="button button-primary button-hero" href="javascript:returnIndex();">返回列表</a>
        </div>
        <br class="clear">
    </div>
</div>
<br class="clear">

<div id="welcome-panel" class="welcome-panel">
    <div class="welcome-panel-content">
        <div style="float:left;width:80%;">
            <form method='post' id="form1" action="__URL__/settingCardSave" name="form1">
                卡号：<input name="card_number" type="text" value="{$user.card_number}"/>
                <input type="hidden" name="id" value="{$user.id}">
                <volist name="arrList" id="data">
                    <div>
                        {$data.cate_namepre}
                        <input type="checkbox" name="node_id[{$data.controller_id}][]" value="{$data.door_index}"  <if condition="$data.checked eq 1">checked</if> >
                        {$data.controller_name}-{$data.name}
                    </div>
                </volist>
            </form>

        </div>
        <!-- 列表显示区域  -->
    </div>
</div>
<br class="clear">



<div class="wrap">
    <div class="tablenav top">
        <div class="alignleft actions">
            <a href="javascript:returnIndex();" class="button button-primary button-hero">返回列表</a>
            <input name="btn_submit" class="button button-primary button-hero" value="保 存" type="button" onclick="save('form1','settingCardSave');">
        </div>
        <br class="clear">
    </div>
</div>


<script>
    function completeInput() {
        var card_number = $("input[name='card_number']").val();
        $.post("__URL__/loadCardSetting",{
            controller_id:"{$vo.id}",
            card_number: card_number,
        }, function(data){
            if (data.code == 200) {
                onLoadSendSuccess(data.message);
            } else {
                alert(data.message);
            }
        }, "json");
    }

    function onLoadSendSuccess(id) {
        var retryTimes = 3;
        var tmid;

        function checkLoadFeedback() {
            if (retryTimes-- <= 0) {
                window.clearInterval(tmid);
                alert("连接超时");
                return;
            }
            $.post("__CONTROLLER__/loadCardSettingFeedBack", {
                'id': id
            }, function(data){
                if(data.code == 1) {
                    // 继续等待
                } else if (data.code == 200) {
                    window.clearInterval(tmid);
                    showSettingForm(data);
                } else { // code == 0 错误请求
                    window.clearInterval(tmid);
                }
            }, 'JSON')
        }

        tmid = window.setInterval(checkLoadFeedback, 300);
    }

    function showSettingForm(data) {

    }
</script>