<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie8 wp-toolbar"  lang="zh-CN">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="wp-toolbar"  lang="zh-CN">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="__PUBLIC__/Images/favicon.ico" />
	<title>{$pagetitle}</title>
<script type="text/javascript">
addLoadEvent = function(func){if(typeof jQuery!="undefined")jQuery(document).ready(func);else if(typeof wpOnload!='function'){wpOnload=func;}else{var oldonload=wpOnload;wpOnload=function(){oldonload();func();}}};
var 
	//ajaxurl = '/zachary/blog/wp-admin/admin-ajax.php',
	pagenow = 'edit-post',
	typenow = 'post',
	adminpage = 'edit-php',
	thousandsSeparator = ',',
	decimalPoint = '.',
	isRtl = 0;
</script>

<script language="JavaScript">
<!--
//指定当前组模块URL地址 
var URL = '__URL__';
var APP	 =	 '__APP__';
var PUBLIC = '__PUBLIC__';
//-->
</script>


<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel='stylesheet' href='__PUBLIC__/Css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='zh-cn-l10n-administration-screens-css'  href='__PUBLIC__/Css/zh_CN-administration-screens.dev.css' type='text/css' media='all' />
<link rel='stylesheet' href='__PUBLIC__/Css/style2.css' type='text/css' media='all' />
<link rel='stylesheet' href='__PUBLIC__/Css/colors.css' type='text/css' media='all' />
<link rel='stylesheet' href='__PUBLIC__/Css/mcustomscroll.css' type='text/css' media='all' />

<!--[if lte IE 7]>
<link rel='stylesheet' id='ie-css'  href='css/ie.css' type='text/css' media='all' />
<![endif]-->

<script type='text/javascript'>
/* <![CDATA[ */
var userSettings = {"url":"\/zachary\/blog\/","uid":"1","time":"1404326885"};/* ]]> */
</script>
<load href="__PUBLIC__/Js/jquery.js"/>

<load href="__PUBLIC__/Js/common.js" />
<load href="__PUBLIC__/Js/My97DatePicker/WdatePicker.js" />
<load href="__PUBLIC__/Js/uploadify/jquery.uploadify.min.js" />
<load href="__PUBLIC__/Js/uploadify/uploadify.css" />
<load href="__PUBLIC__/Css/jquery.mCustomScrollbar.min.css" />
<load href="__PUBLIC__/Js/jquery.mCustomScrollbar.concat.min.js" />
<load href="__PUBLIC__/Js/jqueryui/ui/jquery.ui.datepicker.js" />
<load href="__PUBLIC__/Js/jqueryui/ui/i18n/jquery.ui.datepicker-zh-CN.js" />

<load href="__PUBLIC__/Js/modernizr.custom.js" />
<load href="__PUBLIC__/Js/setup.js" />
<load href="__PUBLIC__/Js/tooltip.js" />
<script type="text/javascript">var _wpColorScheme = {"icons":{"base":"#999","focus":"#2ea2cc","current":"#fff"}};</script>
<style type="text/css" media="print">#wpadminbar { display:none; }</style>
</head>
<body class="wp-admin wp-core-ui no-js  edit-php auto-fold admin-bar post-type-post branch-3-9 version-3-9-1 admin-color-fresh locale-zh-cn no-customize-support no-svg">
<script type="text/javascript">
	document.body.className = document.body.className.replace('no-js','js');
</script>

<script type="text/javascript">
	(function() {
		var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');
		request = true;
		b[c] = b[c].replace( rcs, ' ' );
		b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
	}());
	

    (function($){
    	$(window).load(function(){
    		$(".content-8").mCustomScrollbar({
    			axis:"x",
    			scrollButtons:{enable:true},
    			theme:"3d",
    			//scrollbarPosition:"outside"//暂时不选用
    		});
    	});
    })(jQuery);

	(function(){			
			//setInterval("selectMessageCount()",60*1000);//1000表示一秒钟,60*1000代表一分钟
			$('.tab').find('a').click(function() {
				var _index = $(this).index();
				$(this).addClass('on').siblings('a').removeClass('on');
				$('.content').find('div.hidden').eq(_index).show().siblings('div').hide();
			});
	 });

    function selectMessageCount(){
        postUrl= APP+'/Public/messageCount';
        $.post(postUrl,function(data){
            var count = data.count;
            $('#messageCount').html(count);            
        },'JSON');
    }
    
</script>
	
<div id="wpwrap">


	<div id="adminmenuback"></div>
	
	<!--左侧菜单-->
	<include file="Public:lefter" />
	<!--左侧菜单结束-->
	
	<div id="wpcontent">
		<div id="wpadminbar" class="nojq nojs" role="navigation">
			<div class="quicklinks" id="wp-toolbar" role="navigation" aria-label="顶部导航工具栏。" tabindex="0">
				<ul id="wp-admin-bar-root-default" class="ab-top-menu">
					<li id="wp-admin-bar-menu-toggle"><a class="ab-item"  href="#"><span class="ab-icon"></span><span class="screen-reader-text">菜单</span></a></li>
					<li id="wp-admin-bar-wp-logo" class="menupop">
						<a class="ab-item"  aria-haspopup="true" href="__APP__" title="首页">
							<span class="ab-icon"></span>
						</a>
						<div class="ab-sub-wrapper">
							<!--
							<ul id="wp-admin-bar-wp-logo-default" class="ab-submenu">
								<li id="wp-admin-bar-about">
									<a class="ab-item"  href="#">关于PUP</a>
								</li>
							</ul>
							<ul id="wp-admin-bar-wp-logo-external" class="ab-sub-secondary ab-submenu">
								<li id="wp-admin-bar-wporg"><a class="ab-item"  href="">官网</a></li>
								<li id="wp-admin-bar-documentation"><a class="ab-item"  href="#">文档</a></li>
								<li id="wp-admin-bar-support-forums"><a class="ab-item"  href="#">支持论坛</a></li>
								<li id="wp-admin-bar-feedback"><a class="ab-item"  href="#">反馈</a></li>
							</ul>-->
						</div>		
					</li>
					<!--<li id="wp-admin-bar-comments"><a class="ab-item"  href="__APP__/Index/index" title="消息通知"><span class="ab-icon"></span><span id="ab-awaiting-mod" class="ab-label awaiting-mod pending-count count-0">你有<span id="messageCount">{$_SESSION['messageCount']}</span>条消息通知，点击这里查看</span></a></li>-->
				</ul>
					
				<ul id="wp-admin-bar-top-secondary" class="ab-top-secondary ab-top-menu">
					<li id="wp-admin-bar-my-account" class="menupop with-avatar">
						<a class="ab-item"  aria-haspopup="true" href="#" title="我的帐户">您好，{$_SESSION['account']}
						<img alt='' src='__PUBLIC__/{$_SESSION['head_image']|default="Images/smalldefaultuserimg.png"}' class='avatar avatar-26 photo' height='26' width='26' />
						</a>
						<div class="ab-sub-wrapper">
							<!--<ul id="wp-admin-bar-user-actions" class="ab-submenu">-->
							<ul  class="ab-submenu">
								<li id="wp-admin-bar-user-info">
									<a class="ab-item" tabindex="-1" href="__APP__/Ucenter/index">
										<img alt='' src='__PUBLIC__/{$_SESSION['head_image']|default="Images/middledefaultuserimg.png"}' class='avatar avatar-64 photo' height='64' width='64' />
										<span class='display-name'>{$_SESSION['account']}</span>
									</a>
								</li>
								<li id="wp-admin-bar-edit-profile"><a class="ab-item"  href="__APP__/Ucenter/modifyprofile/id/<php>echo $_SESSION[C('USER_AUTH_KEY')];</php>">编辑我的个人资料</a></li>
								<li id="wp-admin-bar-edit-profile"><a class="ab-item"  href="__APP__/Ucenter/modifypwd/id/<php>echo $_SESSION[C('USER_AUTH_KEY')];</php>">修改密码</a></li>
								<li id="wp-admin-bar-logout"><a class="ab-item"  href="__APP__/Public/logout.html">登出</a></li>
							</ul>
						</div>		
					</li>
				</ul>			
			</div>
			<a class="screen-reader-shortcut" href="__APP__/Public/logout.html">登出</a>
		</div>

			
		<div id="wpbody">

			<div id="wpbody-content" aria-label="主内容" tabindex="0">
				<!-- wrap 结束-->
				{__CONTENT__}
				<div class="clear"></div> 				
			</div><!-- wpbody-content -->
			<div class="clear"></div>
		</div><!-- wpbody -->
		<div class="clear"></div>
	</div><!-- wpcontent -->

	<div id="wpfooter">
			<p id="footer-left" class="aligncenter" style="text-align:center;">
				<span id="footer-thankyou">copyright@<a href="http://www.hzals.com" target="_blank">杭州阿里山电子有限公司</a>。 All Rights Reserved 浙ICP备08000079号</span>
			</p>
			<p id="footer-upgrade" class="alignright">1.0.0版本	</p>
			<div class="clear"></div>
	</div>
	
<script type='text/javascript'>
/* <![CDATA[ */
var commonL10n = {"warnDelete":"\u60a8\u5c06\u6c38\u4e45\u5220\u9664\u6240\u9009\u9879\u76ee\u3002\n\u70b9\u51fb\u201c\u53d6\u6d88\u201d\u505c\u6b62\uff0c\u70b9\u51fb\u201c\u786e\u5b9a\u201d\u5220\u9664\u3002"};var heartbeatSettings = {"nonce":"cd3b57b146"};var inlineEditL10n = {"error":"\u4fdd\u5b58\u66f4\u6539\u65f6\u53d1\u751f\u9519\u8bef\u3002","ntdeltitle":"\u4ece\u6279\u91cf\u7f16\u8f91\u4e2d\u79fb\u9664","notitle":"(\u65e0\u6807\u9898)","comma":"\u3001"};var authcheckL10n = {"beforeunload":"\u60a8\u7684\u767b\u5f55\u4f1a\u8bdd\u5df2\u8fc7\u671f\uff0c\u8bf7\u91cd\u65b0\u767b\u5f55\u3002","interval":"180"};/* ]]> */
</script>


<div class="clear"></div></div><!-- wpwrap -->
<script type="text/javascript">if(typeof wpOnload=='function')wpOnload();</script>
</body>

</html>
