<load href="__PUBLIC__/Js/jqueryui/themes/base/jquery.ui.all.css"/>
<load href="__PUBLIC__/Js/jqueryui/ui/jquery.ui.core.js" />
<load href="__PUBLIC__/Js/jqueryui/ui/jquery.ui.widget.js" />
<load href="__PUBLIC__/Js/jqueryui/ui/jquery.ui.button.js" />
<load href="__PUBLIC__/Js/jqueryui/ui/jquery.ui.dialog.js" />
<load href="__PUBLIC__/Js/jqueryui/ui/jquery.ui.position.js" />
<load href="__PUBLIC__/Js/jqueryui/ui/jquery.ui.menu.js" />
<tagLib name="html" />
<style>
    .p1label{
        text-align: center;
        color:#C8CFD6;
        height:36px;
        text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;
    }
</style>
<script>
    $(function(){
        //$("#search_open_time_start").datepicker({"dateFormat": "yy-mm-dd",'changeMonth':true,'changeYear':true});
        //$("#search_open_time_end").datepicker({"dateFormat": "yy-mm-dd",'changeMonth':true,'changeYear':true});

        var dateFormat = "yy-mm-dd",
            from = $( "#search_time_start" )
                .datepicker({
                    defaultDate: "-3m",
                    changeMonth: true,
                    numberOfMonths: 3,
                    maxDate: new Date(),
                })
                .on( "change", function() {
                    to.datepicker( "option", "minDate", getDate( this ) );
                }),
            to = $( "#search_time_end" ).datepicker({
                defaultDate: "-1m",
                changeMonth: true,
                numberOfMonths: 3,
                maxDate: new Date(),
            })
                .on( "change", function() {
                    from.datepicker( "option", "maxDate", getDate( this ) );
                });

        function getDate( element ) {
            var date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }

            return date;
        }
    })
</script>
<div class="wrap">
    <h2>页面列表 &nbsp;<a class="add-new-h2" href="#" onclick="add('','')">新增</a>
    </h2>


    <form name="form1" method='POST' action="{:U('WebPage/index')}">
        <!-- 查询区域 -->
        <div class="tablenav top">
            <!--单个查询条件-->
            <assign name="var" value="search_title" />
            <div class="alignleft actions">
                <label>标题</label>
                <input type="text" usefor="search" name="{$var}" title="标题查询" value="{$search.$var}" />
            </div>

            <div class="alignleft actions">
                <assign name="var" value="search_time_start" />
                <label>创建时间</label>
                <input type="text" usefor="search" id="{$var}" name="{$var}"  title="开始时间" value="{$search.$var}" class="medium"  />

                <assign name="var" value="search_time_end" />
                <label>~</label>
                <input type="text" usefor="search" id="{$var}" name="{$var}"  title="截止时间" value="{$search.$var}" class="medium"  />
            </div>
            <!--单个查询条件结束-->
            <div class="alignleft actions">
                <input class="button" type="submit" value="查询" name="btn_search">
            </div>
        </div>
        <br class="clear">
        <!-- 查询区域结束 -->

        <!-- 列表显示区域  -->
        <table class="wp-list-table widefat fixed posts">
            <thead>
            <tr>
                <th scope='col'  class='manage-column ' width="5%">编号</th>
                <th scope='col'  class='manage-column ' width="10%">标题</th>
                <th scope='col'  class='manage-column ' width="50%">内容</th>
                <th scope='col'  class='manage-column ' width="10%">操作</th>
            </tr>
            </thead>
            <volist name="list" id="vo" mod="2">
                <tr <eq name="mod" value="0"> class="alternate" </eq> >
                <td class="manage-column" scope="col">{$vo.id}</td>
                <td class="manage-column" scope="col">{$vo.title}</td>
                <td class="manage-column" scope="col"><label class="p1label">{$vo.content}</label></td>
                <td class="manage-column" scope="col">
                    <a href="__CONTROLLER__/view/id/{$vo.id}" target="_blank">预览</a>&nbsp;
                    <a href="javascript:edit('id','{$vo.id}')">编辑</a>&nbsp;
                    <a href="javascript:del('id','{$vo.id}')">删除</a>&nbsp;
                </td>
                </tr>
            </volist>
        </table>
        <!-- 列表显示区域结束  -->


        <!--  分页显示区域 -->
        <div class="tablenav bottom">
            <div class="alignleft actions"></div>
            <div class="tablenav-pages">
                <!--
                <span class="displaying-num">2个项目</span>
                <span class="pagination-links">
                    <a class="first-page disabled" title="前往第一页" href="#">«</a>
                    <a class="prev-page disabled" title="前往上一页" href="#">‹</a>
                    <span class="paging-input">第1页，共<span class="total-pages">1</span>页</span>
                    <a class="next-page disabled" title="前往下一页" href="#">›</a>
                    <a class="last-page disabled" title="前往最后一页" href="#">»</a>
                </span>-->
                <div class="page">{$page}</div>
                <input type="hidden" usefor="search" name="search_p" value="{$nowpage}"  >
            </div>
            <br class="clear">
        </div>
        <!--  分页显示区域结束 -->
        <!-- 列表显示区域结束 -->
    </form>

    <div id="ajax-response"></div>
    <br class="clear">
</div>











