{__NOLAYOUT__}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="__PUBLIC__/Images/favicon.ico" />
    <title>阿里山门禁管理系统</title>

    <load href='__PUBLIC__/Css/login2.css' />
    <load href='__PUBLIC__/Css/login2base.css' />
    <load href="__PUBLIC__/Js/jquery.js" />
    <load href="__PUBLIC__/Js/common.js" />
    <style>
        .login_main_1_c{
            width:205px;
            height:41px;
            float:left;}
        .login_main_1_c input{
            width:180px;
            height:19px;
            line-height:19px;
            padding:10px 5px 10px 20px;
            background:none;
            border:1px #ddd solid;
            border-left:none;}
        .login_main_1_l{
            width:100px;
            height:41px;
            float:left;}

        .login_main_1_l input{
            width:100px;
            height:39px;
            font-size:14px;
            color:#fff;
            display:block;
            text-align:center;
            line-height:39px;
            background:#1a446e;
            border-radius:3px;
            border:1px #000 solid;
        }
    </style>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var commonL10n = {"warnDelete":"\u60a8\u5c06\u6c38\u4e45\u5220\u9664\u6240\u9009\u9879\u76ee\u3002\n\u70b9\u51fb\u201c\u53d6\u6d88\u201d\u505c\u6b62\uff0c\u70b9\u51fb\u201c\u786e\u5b9a\u201d\u5220\u9664\u3002"};var heartbeatSettings = {"nonce":"cd3b57b146"};var inlineEditL10n = {"error":"\u4fdd\u5b58\u66f4\u6539\u65f6\u53d1\u751f\u9519\u8bef\u3002","ntdeltitle":"\u4ece\u6279\u91cf\u7f16\u8f91\u4e2d\u79fb\u9664","notitle":"(\u65e0\u6807\u9898)","comma":"\u3001"};var authcheckL10n = {"beforeunload":"\u60a8\u7684\u767b\u5f55\u4f1a\u8bdd\u5df2\u8fc7\u671f\uff0c\u8bf7\u91cd\u65b0\u767b\u5f55\u3002","interval":"180"};/* ]]> */
    </script>


    <script language="JavaScript">
        <!--
        //指定当前组模块URL地址
        var URL = '/puptestcase1/index.php/Public';
        var APP	 =	 '/puptestcase1/index.php';
        var PUBLIC = '/puptestcase1/Public';
        //-->
    </script>
    <script language="JavaScript">
        var countdown=60;
        function settime(obj) { //发送验证码倒计时
            if (countdown == 0) {
                obj.attr('disabled',false);
                obj.val("获取验证码");
                countdown = 60;
                return;
            } else {
                obj.attr('disabled',true);
                obj.val("重新发送(" + countdown + ")");
                countdown--;
            }
            setTimeout(function() {
                    settime(obj) }
                ,1000)
        }

        function sendSMSCode() {
            //alert("发送短信");
            var account = $("input[name='account']").val();
            var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
            if(!myreg.test(account))
            {
                alert('请输入有效的手机号码！');
                return false;
            }

            $.post("__CONTROLLER__/sendFindPasswordSMS", {
                'account': account
            }, function(data){
                if (data.code == 200) {
                    settime($("#sendCode"));
                } else {
                    alert(data.message);
                }
            }, 'JSON');
        }
    </script>
</head>

<body>
<body>
<div class="top w-p-100">
    <div class="logo"><img height="34" src="__ROOT__/Public/Images/logo.png"></div>
    <div class="top_txt"></div>

    <div class="logo_r">
        <a href="#"></a>
    </div>

</div>

<form method='post' name="login" id="login" ACTION="__CONTROLLER__/checkFindPassword">
    <div class="login_box">
        <div class="login_tit">
            <span class="login_tit_txt f-l">找回密码</span>
            <span class="login_tit_txt2 p-l-10 f-l">findPassword</span>
            <span class="login_tit_txt2 p-r-10 f-r f-c-h"></span>
        </div>

        <div class="login_main">
            <assign name="key" value="account" />
            <if condition="$error[$key]">
                <div style="height: 21px;width: 49px;float:left;">&nbsp;</div>
                <div style="float: left;"><span class="tips">{$error[$key]}</div>
                <div style="clear:both;"></div>
            </if>
            <div class="login_main_1">
                <div class="login_main_1_la"></div>
                <div class="login_main_1_r">
                    <input check="Require" warning="请输手机号" name="{$key}" type="text" value="{$vo.$key}" placeholder='输入手机号' />
                </div>
            </div>

            <assign name="key" value="password" />
            <if condition="$error[$key]">
                <div style="height: 21px;width: 49px;float:left;">&nbsp;</div>
                <div style="float: left;"><span class="tips">{$error[$key]}</div>
                <div style="clear:both;"></div>
            </if>
            <div class="login_main_1">
                <div class="login_main_1_lb"></div>
                <div class="login_main_1_r">
                    <input type="password" check="Require" warning="请输入新密码" name="{$key}"  value="{$vo.$key}" placeholder="输入新密码"/>
                </div>
            </div>

            <assign name="key" value="sms_code" />
            <if condition="$error[$key]">
                <div style="height: 21px;width: 49px;float:left;">&nbsp;</div>
                <div style="float: left;"><span class="tips">{$error[$key]}</div>
                <div style="clear:both;"></div>
            </if>
            <div class="login_main_1">
                <div class="login_main_1_lc"></div>
                <div class="login_main_1_c">
                    <input type="text" check="Require" warning="请输短信验证码" name="{$key}"  value="{$vo.$key}" placeholder="输入短信验证码"/>
                </div>
                <div class="login_main_1_l">
                    <input type="button" id="sendCode" onclick="sendSMSCode()" value="获取验证码"></input>
                </div>
            </div>


            <div class="login_main_1">
                <label>
                    <span class="f-l p-l-10 login_main_1_txt"><a href='__APP__'>返回登录</a></span>
                </label>
                <div class="login_btn"><a class="button_kv" onclick="document.login.submit();">提交</a></div>
            </div>
            <div style="height:auto;width:448px;text-align:center;position:absolute;bottom:20px;font-size:11pt;">

            </div>
        </div>
    </div>
</form>
</body>
</HTML>

