<!--左侧菜单-->
<div id="adminmenuwrap">
	<ul id="adminmenu" role="navigation">	
		<li class="menu-top menu-top-first menu-top-last <if condition='CONTROLLER_NAME eq Index'>wp-has-current-submenu wp-menu-open open-if-no-js</if>" >
			<a href='__APP__/Index/index' class="menu-top menu-top-first menu-top-last <if condition='CONTROLLER_NAME eq Index'>wp-has-current-submenu wp-menu-open open-if-no-js</if>" >
				<div class="wp-menu-arrow">
					<div></div>
				</div>
				<div class='wp-menu-image dashicons-before dashicons dashicons-admin-home'><br /></div>
				<div class='wp-menu-name'>首页</div>
			</a>		
		</li>
		
		<li class="wp-not-current-submenu wp-menu-separator">
			<div class="separator"></div>
		</li>

		<assign name="_ACCESS_LIST_HOME" value="$Think.session._ACCESS_LIST.HOME" />
	<if condition='$_ACCESS_LIST_HOME.USER neq null'>
		<li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-media <if condition='in_array(CONTROLLER_NAME,array(User,Department))'>wp-has-current-submenu wp-menu-open open-if-no-js</if>" >
			<a href='__APP__/User/index' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-media <if condition='CONTROLLER_NAME eq User'>wp-has-current-submenu wp-menu-open open-if-no-js</if>" aria-haspopup="true">
				<div class="wp-menu-arrow">
					<div></div>
				</div>
				<div class='wp-menu-image dashicons-before dashicons dashicons-groups'><br /></div>
				<div class='wp-menu-name'>用户管理</div>
			</a>
			<ul class='wp-submenu wp-submenu-wrap'>
				<li class='wp-submenu-head'>用户管理</li>
				<li class="wp-first-item <if condition='(CONTROLLER_NAME eq User) and (ACTION_NAME eq index)'>current</if>">
					<a href="__APP__/User/index" class="wp-first-item current">用户列表</a>
				</li>
				<li class="<if condition='(CONTROLLER_NAME eq User) and (ACTION_NAME eq add)'>current</if>">
					<a href="__APP__/User/add" class="current">添加用户</a>
				</li>
				<li class="<if condition='(CONTROLLER_NAME eq Department) and (ACTION_NAME eq index)'>current</if>">
					<a href="__APP__/Department/index" class="current">部门管理</a>
				</li>
			</ul>
		</li>
	</if>

	<if condition='$_ACCESS_LIST_HOME.DOORCONTROLLER neq null'>
		<li class="wp-has-submenu menu-top menu-icon-media wp-not-current-submenu <if condition='CONTROLLER_NAME eq DoorController'>wp-has-current-submenu wp-menu-open open-if-no-js</if>"  >
			<a href='__APP__/DoorController/index' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-media wp-has-submenu <if condition='CONTROLLER_NAME eq DoorController'>wp-has-current-submenu wp-menu-open open-if-no-js</if> menu-top menu-icon-post menu-top-first" aria-haspopup="true" >
				<div class="wp-menu-arrow">
					<div></div>
				</div>
				<div class='wp-menu-image dashicons-before dashicons dashicons-list-view'><br /></div>
				<div class='wp-menu-name'>门禁管理</div>
			</a>
			<ul class='wp-submenu wp-submenu-wrap'>
				<li class='wp-submenu-head'>门禁管理</li>
				<li class="wp-first-item <if condition='(CONTROLLER_NAME eq DoorController) and (ACTION_NAME eq index)'>current</if>">
					<a href="__APP__/DoorController/index" class="wp-first-item current">控制器列表</a>
				</li>
				<li class="wp-first-item <if condition='(CONTROLLER_NAME eq DoorController) and (ACTION_NAME eq add)'>current</if>">
					<a href="__APP__/DoorController/add" class="wp-first-item current">添加控制器</a>
				</li>

			</ul>
		</li>
	</if>

	<if condition='$_ACCESS_LIST_HOME.OPENRECORD neq null'>
		<li class="wp-has-submenu menu-top menu-icon-media wp-not-current-submenu <if condition='CONTROLLER_NAME eq OpenRecord'>wp-has-current-submenu wp-menu-open open-if-no-js</if>"  >
			<a href='__APP__/OpenRecord/index' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-media wp-has-submenu <if condition='CONTROLLER_NAME eq OpenRecord'>wp-has-current-submenu wp-menu-open open-if-no-js</if> menu-top menu-icon-post menu-top-first" aria-haspopup="true" >
				<div class="wp-menu-arrow">
					<div></div>
				</div>
				<div class='wp-menu-image dashicons-before dashicons dashicons-portfolio'><br /></div>
				<div class='wp-menu-name'>出入记录</div>
			</a>
			<ul class='wp-submenu wp-submenu-wrap'>
				<li class='wp-submenu-head'>出入记录</li>
				<li class='wp-first-item <if condition="(CONTROLLER_NAME eq 'OpenRecord') and (ACTION_NAME eq 'index')">current</if>'>
					<a href="__APP__/OpenRecord/index" class="wp-first-item current">出入记录</a>
				</li>
				<li class='<if condition="(CONTROLLER_NAME eq 'OpenRecord') and (ACTION_NAME eq 'attendance')">current</if>'>
					<a href="__APP__/OpenRecord/attendance" class="current">考勤查询</a>
				</li>
				<li class='<if condition="(CONTROLLER_NAME eq 'OpenRecord') and (ACTION_NAME eq 'attendanceConfig')">current</if>'>
					<a href="__APP__/OpenRecord/attendanceConfig" class="current">考勤设置</a>
				</li>
			</ul>
		</li>
	</if>

	<if condition='$_ACCESS_LIST_HOME.REQUESTUSE neq null'>
		<li class="wp-has-submenu menu-top menu-icon-media wp-not-current-submenu <if condition='CONTROLLER_NAME eq RequestUse'>wp-has-current-submenu wp-menu-open open-if-no-js</if>"  >
			<a href='__APP__/RequestUse/index' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-media wp-has-submenu <if condition='CONTROLLER_NAME eq RequestUse'>wp-has-current-submenu wp-menu-open open-if-no-js</if> menu-top menu-icon-post menu-top-first" aria-haspopup="true" >
				<div class="wp-menu-arrow">
					<div></div>
				</div>
				<div class='wp-menu-image dashicons-before dashicons dashicons-id'><br /></div>
				<div class='wp-menu-name'>申请审核</div>
			</a>			
		</li>
	</if>

	<if condition='$_ACCESS_LIST_HOME.COMPANY neq null'>
		<li class="wp-has-submenu menu-top menu-icon-media wp-not-current-submenu <if condition='in_array(CONTROLLER_NAME,array(Company,AuthRole,AuthNode,AppSetting,RepairRecord))' >wp-has-current-submenu wp-menu-open open-if-no-js</if>"  >
			<a href='__APP__/Company/index' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-media wp-has-submenu <if condition='in_array(CONTROLLER_NAME,array(Company,AuthRole,AuthNode,AppSetting,RepairRecord))'>wp-has-current-submenu wp-menu-open open-if-no-js</if> menu-top menu-icon-post menu-top-first" aria-haspopup="true" >
				<div class="wp-menu-arrow">
					<div></div>
				</div>
				<div class='wp-menu-image dashicons-before dashicons dashicons-admin-settings'><br /></div>
				<div class='wp-menu-name'>系统管理</div>
			</a>
			<ul class='wp-submenu wp-submenu-wrap'>
				<li class='wp-submenu-head'>系统管理</li>
				<li class='wp-first-item <if condition="CONTROLLER_NAME eq 'Company'">current</if>'>
					<a href="__APP__/Company/index" class="wp-first-item current">客户管理</a>
				</li>
				<notempty name='_ACCESS_LIST_HOME.AUTHNODE'>
					<li class='<if condition="CONTROLLER_NAME eq 'RepairRecord'">current</if>'>
					<a href="__APP__/RepairRecord/index" class="current">报修记录</a>
					</li>
				</notempty>
				<notempty name='_ACCESS_LIST_HOME.AUTHNODE'>
					<li class='<if condition="CONTROLLER_NAME eq 'AuthNode'">current</if>'>
						<a href="__APP__/AuthNode/index" class="current">权限管理</a>
					</li>
				</notempty>
				<notempty name='_ACCESS_LIST_HOME.AUTHROLE'>
					<li class='<if condition="CONTROLLER_NAME eq 'AuthRole'">current</if>'>
						<a href="__APP__/AuthRole/index" class="current">角色管理</a>
					</li>
				</notempty>
				<notempty name='_ACCESS_LIST_HOME.APPSETTING'>
					<li class='<if condition="CONTROLLER_NAME eq 'AppSetting'">current</if>'>
						<a href="__APP__/AppSetting/index" class="current">APP配置</a>
					</li>
				</notempty>
			</ul>
		</li>
	</if>

		<li class="wp-not-current-submenu wp-menu-separator">
			<div class="separator"></div>
		</li>	

		<li id="collapse-menu" class="hide-if-no-js"><div id="collapse-button"><div></div></div><span>收起菜单</span></li>
	</ul>
</div>
<!--左侧菜单结束-->