<div class="wrap">
<h2>查看用户</h2>
<div class="tablenav top">
	<div class="alignleft actions">
	    <a class="button button-primary button-hero" href="javascript:returnIndex();">返回列表</a>    
	</div>
	<br class="clear">
</div>
</div>
<br class="clear">

<div class="formarea">	
<table class="form-table">
<assign name="var" value="name" />
<tr>
	<th><label for="">公司名称：</label></th>
	<td>
	{$vo.$var}
	</td>
</tr>
<assign name="var" value="admin_mobile" />
<tr>
	<th><label for="">管理员名称：</label></th>
	<td>
	{$vo.$var}
	</td>
</tr>
<assign name="var" value="status" />		
<tr>
	<th><label for="">状态：</label></th>
	<td>
	<eq name="vo[$var]" value="0">启用</eq>
	<eq name="vo[$var]" value="-1">禁用</eq>
	</td>
</tr>
<assign name="var" value="create_time" />
<tr>
	<th><label for="">登记时间：</label></th>
	<td>
	<if condition="$vo[$var]">{$vo.$var||toDate="Y-m-d H#i#s"}</if>
	</td>
</tr>
<tr>
	<td></td>
	<td class="center">
	<!--保持搜索部分-->
	<php>
	foreach($search as $k=>$v){
		echo '<input type="hidden" name="'.$k.'" value="'.$v.'" id="'.$k.'" usefor="search">';
	} 
	</php>
	<!--保持搜索部分结束-->	
	<!--pk-->
	<assign name="var" value="id" />
	<input type="hidden" name="{$var}" value="{$vo.$var}" >
	</td>
</tr>
</table>

<!--
<p>公司用户：</p>
	<table class="wp-list-table widefat fixed posts">
		<thead>
		<tr>
			<th class="manage-column" scope="col" width="5%">编号</th>
			<th class="manage-column" scope="col" width="10%">姓名</th>
			<th class="manage-column" scope="col" width="10%">姓别</th>
			<th class="manage-column" scope="col" width="10%">帐号</th>
			<th class="manage-column" scope="col" width="10%">角色</th>
			<th class="manage-column" scope="col" width="5%">状态</th>
			<th class="manage-column" scope="col" width="50%">操作</th>
		</tr>
		</thead>
		<tbody>
		<volist name="arrList" id="vo" mod="2">
			<assign name="id" value="$vo.id" />
			<tr <eq name="mod" value="0">class="alternate"</eq> >
			<td class="manage-column" scope="col" >{$vo.id}</td>
			<td class="manage-column" scope="col">{$vo.nickname}</td>
			<td class="manage-column" scope="col">{$vo.sex|showSex}</td>
			<td class="manage-column" scope="col">{$vo.account}</td>
			<td class="manage-column" scope="col">{$vo.role_name}</td>
			<td class="manage-column" scope="col">{$vo.status|getStatus}</td>
			<td class="manage-column" scope="col">
				{$vo.status|showStatus=$id}&nbsp;
				<a href="javascript:view('id','{$vo.id}')">查看</a>&nbsp;
				<a href="javascript:edit('id','{$id}')">编辑</a>&nbsp;
				<a href="javascript:del('id','{$id}')">离职</a>&nbsp;
			</td>
			</tr>
		</volist>
		</tbody>
	</table>
</div>-->

<div class="wrap">
	<div class="tablenav top">					
		<div class="alignleft actions">	
			<a href="javascript:returnIndex();" class="button button-primary button-hero">返回列表</a>
			<input name="btn_submit" class="button button-primary button-hero" value="编 辑" type="button" onclick="edit('id','{$vo.id}');">
		</div>
		<br class="clear">
	</div>
</div>








