<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie8 wp-toolbar"  lang="zh-CN">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="wp-toolbar"  lang="zh-CN">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="__PUBLIC__/Images/favicon.ico" />
    <title>{$pagetitle}</title>
    <script language="JavaScript">
        <!--
        //指定当前组模块URL地址
        var URL = '__URL__';
        var APP	 =	 '__APP__';
        var PUBLIC = '__PUBLIC__';
        //-->
    </script>

    <style>
        html,body{
            height:100%;
            width:100%;
            padding:0;
            margin:0;
        }
        .rich_media_area_primary {
            padding:25px 24px 26px;
        }
        .rich_media_area_extra {
            padding:24px 15px 0;
        }
    </style>
</head>
<body>
    <div id="js_article" class="rich_media">
        <div id="js_top_ad_area" class="top_banner"></div>
        <div class="rich_media_inner">
            <div id="page-content" class="rich_media_area_primary">
{__CONTENT__}
            </div>
            <div class="rich_media_area_primary"></div>
            <div class="rich_media_area_extra"></div>
        </div>
        <div></div>
    </div>
</body>

<script>
    var imgs = document.getElementsByTagName('img');

    for(var i in imgs)
    {
        var img = imgs[i];
        img.style.width='100%';
        img.style.height='auto';
    }
</script>
</html>
